/* .container{
    background-color: green;
    height: 50px;
}


.container-fluid{
    background-color: rgb(0, 19, 128);
    height: 50px;
} */
/* .container{
    border: 2px solid black;
}
.row{
    border: 2px solid blue;
}
.col{
    border: 2px solid lightblue;
    background-color: brown;
} */
/* .box1{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
} */
/* div{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
} */
img.slide{
    height: 800px;
}